### XBUS 500 Pre-Work
#### NYC Baby Names Exercise

In [7]:
# read in pandas and Levenshtein

import pandas as pd
import Levenshtein as lev # not sure what this is for

In [11]:
df = pd.read_csv('data/Popular_Baby_Names.csv')

#### EDA

In [14]:
df.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [15]:
df.tail()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
29459,2016,FEMALE,HISPANIC,Alayna,10,74
29460,2015,FEMALE,HISPANIC,Yaritza,12,79
29461,2015,MALE,WHITE NON HISPANIC,Mendel,42,64
29462,2016,MALE,ASIAN AND PACIFIC ISLANDER,Isaac,21,48
29463,2015,FEMALE,WHITE NON HISPANIC,Alessia,12,81

In [17]:
df.shape

(29464, 6)

most popular first letter for baby names for boys vs. girls

or convert the data into a histogram